.container {
  margin: 0 auto;
  max-width: 95%;
}

@keyframes movie {
  from {
    opacity: 50%;
  }

  to {
    opacity: 100%;
  }
}

.cards {
  justify-content: center;
  font-size: 11px;
  animation: movie 1s;
}

.movie-card {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 700px;
  background-position: center;
  background-size: cover;
  margin: 4vh auto;
  border-radius: 4px;
  box-shadow: 2px 3px 12px rgba(0, 0, 0, 0.4);
  color: white;
  padding: 2vh 3%;
}
.movie-card:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background: linear-gradient(
    to right,
    rgba(40, 40, 60, 1) 0%,
    rgba(40, 0, 60, 0) 90%
  );
  background-blend-mode: multiply;
  will-change: transform;
  z-index: 0;
}
i {
  font-size: 0.7em;
  color: #ff5b84;
}
h1 {
  font-size: 180%;
  position: absolute;
  top: 250px;
  z-index: 10;
}
span {
  display: inline-block;
  position: relative;
  z-index: 10;
  margin-right: 80px;
  color: rgb(210, 210, 210);
}
.watch {
  width: 150px;
  height: 50px;
  font-size: 16px;
  display: block;
  border: 1px solid white;
  border-radius: 4px;
  position: relative;
  z-index: 10;
  color: white;
  padding: 10px;
  text-align: center;
  background: rgba(0, 0, 0, 0.3);
  margin: 20px 0px;
  outline: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: all 0.2s;
  top: 370px;
}
.watch:hover {
  background: rgba(255, 255, 255, 0.8);
  color: black;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  mix-blend-mode: screen;
}
.watch:active {
  transform: translateY(2px);
}
p {
  position: absolute;
  z-index: 10;
  font-size: 15px;
  width: 60%;
  height: 35%;
  top: 300px;
}

.movie-details {
  text-align: center;
}
.movie-poster {
  height: auto;
  margin: 20px 0;
  position: relative;
}

.movie-title {
  font-size: 25px;
}

.content {
  line-height: 1.5em;
}

.movie-genres {
  color: #ffffff;
  background-color: grey;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  display: inline;
  margin: 5px;
  font-size: 12px;
}

.movie-genres:hover {
  background-color: rgb(184, 184, 184);
}

.movie-info {
  width: 70%;
  margin-top: 20px;
}

.movie-trailer {
  margin-top: 70px;
  position: relative;
}

footer {
  height: 50px;
}

@media (max-width: 1201px) {
  iframe {
    height: 200;
  }

  .movie-poster img {
    width: 250px;
  }
}

@media (max-width: 991px) {
  iframe {
    height: 200;
  }

  .movie-poster img {
    width: 200px;
  }
}

@media (max-width: 696px) {
  iframe {
    height: 200;
  }

  .movie-poster img {
    width: 130px;
  }
}
