{% extends 'base.html' %}
{% block title %} 
  {{ movie.title }} 
{% endblock %} 
{% block content %}
<div style="margin-top: 80px"></div>
  <div class="container-2">
    <section class="main">
      <div class="ui dividing header">
        Overview
      </div>
      <div class="ui grid">
        <div class="four wide column">
          <div class="ui card">
            <div class="image">
              <img src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}" alt="">
            </div>
          </div>
        </div>
        <div class="twelve wide column">
          <div class="ui  header" style="font-size: 25px;">
            {{ movie.title }}
            <span class="ui header movie-rating" style="font-size: 15px">
              {{ movie.vote_average }}
              <i class="star icon" style="width: 5px"></i>
            </span>
          </div>
          <div class="sub header" >
            {{ movie.overview }}
          </div>
          <div class="movie-genres">
            <div class="grid-container">
              <div class="grid-item">
                  Genre:    
              </div>
              <div class="grid-item">
                {% for genre in movie.genres %}
                    <span class="ui label">
                      {{ genre.name }}
                    </span>
                {% endfor %}
              </div>
            </div>
          </div>
          <div class="movie-countries">
            <div class="grid-container">
              <div class="grid-item">
                  Country:    
              </div>
              <div class="grid-item">
                {% for country in movie.production_countries %}
                    <span class="sub header">
                      {{ country["name"] }}
                      {% if not loop.last %}
                        ,
                      {% endif %}
                    </span>
                {% endfor %}
              </div>
            </div>
          </div>
          <div class="movie-release-date">
            <div class="grid-container">
              <div class="grid-item">
                  Release Date:    
              </div>
              <div class="grid-item">
                {{ movie.release_date }}
              </div>
            </div>
          </div>
          <div class="movie-runtime">
            <div class="grid-container">
              <div class="grid-item">
                  Runtime:    
              </div>
              <div class="grid-item">
                {{ movie.runtime }}mins
              </div>
            </div>
          </div>
          <div class="movie-languages">
            <div class="grid-container">
              <div class="grid-item">
                  Spoken Language:    
              </div>
              <div class="grid-item">
                {% for language in movie.spoken_languages %}
                    <span class="sub header">
                      {{ language["english_name"] }}
                      {% if not loop.last %}
                        ,
                      {% endif %}
                    </span>
                {% endfor %}
              </div>
            </div>
          </div>
          <div class="movie-status">
            <div class="grid-container">
              <div class="grid-item">
                  Status:    
              </div>
              <div class="grid-item">
                {{ movie.status }}
              </div>
            </div>
          </div>
      </div>
    </section>
    <section class="movie-casts">
      <div class="ui dividing header" style="margin-top: 20px">
        Casts
      </div>
      <div class="casts-cards">
        <div class="owl-carousel-cast owl-carousel owl-theme">
          {% for cast in casts['cast'] %}
            {% if cast.profile_path %}
              <div class="card-item">
                <img src="https://image.tmdb.org/t/p/w300{{ cast.profile_path }}" alt="">
                <div class="cast-name">
                  {{ cast.name }}
                </div>
                <div class="cast-role">
                  as {{ cast.character }}
                </div>
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </section>
    <section class="movie-videos">
      <div class="ui dividing header" style="margin-top: 20px">
        Videos
      </div>
      <div class="owl-carousel-video owl-carousel owl-theme">
        {% for video in videos %}
          {% if video %}
            <div class="video-thumbnail">
              <img class="thumbnail" src="http://i3.ytimg.com/vi/{{ video.key }}/hqdefault.jpg" alt="">
              <div class="video-type">
                {{ video.type }}
              </div>
              <div class="video-title">
                {{ video.name }}
              </div>
            </div>
          {% else %}
            <div>
              No video available.
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </section>
    <section class="movie-reviews">
      <div class="ui dividing header" style="margin-top: 20px">
        Leave a review
      </div>
    </section>
  </div>
{% endblock %}