{% extends 'base.html' %} 
{% block title %} 
  Homepage 
{% endblock %} 
{% block content %}
  <div style="margin-top: 80px;">
    <!-- Applies margin at the top -->
  </div>
  <div class="container">
    <section class="popular-movies">
      <h3 class="ui dividing header">Popular Movies</h3>
      <div class="ui special cards" >
        {% for movie in popular %}
          <div class="card">
            <div class="blurring dimmable image">
              <div class="ui dimmer">
                <div class="content">
                  <span id="movieId" style="display: none">{{ movie.id }}</span>
                  <div class="center">
                    <a href="{{ url_for('views.movie_details', movie_id=movie.id) }}">
                    <div
                      class="ui inverted button"
                      href="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}"
                    >
                      View Details
                    </div>
                  </a> 
                  </div>
                </div>
              </div>
              <img
                src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}"
                alt="{{ movie.poster_path }}"
              />
            </div>
            <div class="content">
              <a
                class="header"
                href="{{ url_for('views.movie_details', movie_id=movie.id) }}"
                >{{ movie.title }}</a
              >
              <div class="meta">
                <span class="date"
                  >Date released: {{ movie.release_date[0:4] }}</span
                >
              </div>
            </div>
          </div>
        </a>
        {% endfor %}
      </div>
    </section>
    <br />
    <br />
    <section class="trending-movies">
      <h3 class="ui dividing header">Top-Rated Movies</h3>
      <div class="owl-carousel-trending owl-carousel owl-theme">
          {% for movie in toprated %}
          <div class="ui card">
            <div class="image">
              <img
                src="https://image.tmdb.org/t/p/w300{{ movie.poster_path }}"
                alt="{{ movie.poster_path }}"
                width="150px;"
                
              />
            </div>
            <div class="content">
              <a class="header" href="{{ url_for('views.movie_details', movie_id=movie.id) }}" style="font-size: 12px;">{{ movie.title }}</a>
            </div>
          </div>
        {% endfor %}
      </div>
    </section>
    <section class="popular-movies">
      <h3 class="ui dividing header">Upcoming Movies</h3>
      <div class="ui special cards" >
        {% for movie in upcoming %}
          <div class="card">
            <div class="blurring dimmable image">
              <div class="ui dimmer">
                <div class="content">
                  <span id="movieId" style="display: none">{{ movie.id }}</span>
                  <div class="center">
                    <a href="{{ url_for('views.movie_details', movie_id=movie.id) }}">
                    <div
                      class="ui inverted button"
                      href="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}"
                    >
                      View Details
                    </div>
                  </a> 
                  </div>
                </div>
              </div>
              <img
                src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}"
                alt="{{ movie.poster_path }}"
              />
            </div>
            <div class="content">
              <a
                class="header"
                href="{{ url_for('views.movie_details', movie_id=movie.id) }}"
                >{{ movie.title }}</a
              >
              <div class="meta">
                <span class="date"
                  >Date released: {{ movie.release_date[0:4] }}</span
                >
              </div>
            </div>
          </div>
        </a>
        {% endfor %}
      </div>
    </section>
  </div>
{% endblock %}
