<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{url_for('static', filename='/style.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='semantic/dist/semantic.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='owl-carousel/dist/assets/owl.carousel.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='owl-carousel/dist/assets/owl.theme.default.min.css') }}">
    <title>{% block title %}{% endblock %} - Flask Movies</title>
  </head>
  <body>
      {% include 'components/navbar.html' %}
  </div>
          {% block content %}
          {% endblock %}
  <footer class="footer">
      
  </footer>
  </body>
  <script src="{{ url_for('static', filename='jquery/jquery-3.6.0.js') }}"></script>
  <script src="{{ url_for('static', filename='semantic/dist/semantic.min.js') }}"></script>
  <script src="{{ url_for('static', filename='main.js') }}"></script>
  <script src="{{ url_for('static', filename='owl-carousel/dist/owl.carousel.min.js') }}"></script>
  <script>
    
    </script>
</html>
